<div class="carrousel">
    <div class="grande">
        <div class="chico">
            <img src="/img/bajo.jpg" alt="Imagen 1" class="img">
            <div class="descripcion">
                <h4>Nombre del Producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ratione, consectetur,
                    mollitia harum, necessitatibus magni temporibus tempore minima saepe quae veniam. Eius, facilis eos
                    explicabo quisquam quo debitis sequi soluta.
                    Ducimus illum cupiditate doloremque consequuntur, velit sit id itaque illo alias explicabo ex non ut
                </p>
            </div>
        </div>
        <div class="chico">

            <img src="/img/auriculares.jpg" alt="Imagen 2" class="img">
            <div class="descripcion">
                <h4>Nombre del Producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ratione, consectetur,
                    mollitia harum, necessitatibus magni temporibus tempore minima saepe quae veniam. Eius, facilis eos
                    explicabo quisquam quo debitis sequi soluta.
                    Ducimus illum cupiditate doloremque consequuntur, velit sit id itaque illo alias explicabo ex non ut
                </p>
            </div>
        </div>
        <div class="chico">

            <img src="/img/parlantes.webp" alt="Imagen 3" class="img">
            <div class="descripcion">
                <h4>Nombre del Producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ratione, consectetur,
                    mollitia harum, necessitatibus magni temporibus tempore minima saepe quae veniam. Eius, facilis eos
                    explicabo quisquam quo debitis sequi soluta.
                    Ducimus illum cupiditate doloremque consequuntur, velit sit id itaque illo alias explicabo ex non ut
                </p>
            </div>
        </div>


    </div>
    <ul class="puntos">
        <li class="punto activo"></li>
        <li class="punto"></li>
        <li class="punto"></li>
    </ul>
</div>