<div id="inicio" class="ayudante-de-header">
    <header>
        <ul id="navContainer" class="navbar">
            <li class="boton-barra">
                <a href="/#inicio">Volver al Inicio</a>
            </li>
        </ul>
    </header>
</div>