<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index2.css">
    <title>Musiqueria</title>
</head>

<body class="body">

    <% if(user !=null){%>
        <div id="inicio" class="ayudante-de-header">
            <header class="header">
                <!-- <img src="/img/hamburguesa.svg" alt="" class="hamburger"> -->
                <ul id="navContainer" class="navbar">
                    <li class="boton-barra">
                        <a href="#inicio">Inicio</a>
                    </li>
                    <li class="boton-barra">
                        <a href="#servicio">Servicio</a>
                    </li>
                    <li class="boton-barra">
                        <a href="#portafolio">Populares</a>
                    </li>
                    <li class="boton-barra">
                        <a href="#contacto">Contacto</a>
                    </li>
                    <li class="boton-barra">
                        <a href="/user/all">Usuarios</a>
                    </li>
                    <li class="boton-barra">
                        <a href="/product/all">Productos</a>
                    </li>
                </ul>
                <div class="header-up-container">
                    <ul class="login-nav">
                        <li class="user-boton">
                            <a href="#">
                                <%= user.name %>
                            </a>
                        </li>
                        <li class="boton-barra">
                            <a href="/cart/cart">Carrito<i class='bx bx-cart'></i></a>
                        </li>
                        <li class="boton-barra">
                            <form action="/" method="POST">
                                <input type="submit" value="Cerrar session" class="cerrar-sesion">
                            </form>
                        </li>
                        <li class="user-boton">
                            <a class="user-img-container" href="#"><img src="/img/<%= user.avatar %>" class="avatar-log"
                                    alt=""></a>
                        </li>
                    </ul>
                    <div class="container head">
                        <h1 class="titulo">Musiquería</h1>
                        <img src="/img/logo002.png" alt="" width="45px">
                        </p>
                    </div>
                </div>
            </header>
        </div>


        <%} else {%>
            <div class="ayudante-de-header">
                <header id="inicio" class="header">
                    <!-- <img src="/img/hamburguesa.svg" alt="" class="hamburger"> -->
                    <ul id="navContainer" class="navbar">
                        <li class="boton-barra">
                            <a href="#inicio">Inicio</a>
                        </li>
                        <li class="boton-barra">
                            <a href="#servicio">Servicio</a>
                        </li>
                        <li class="boton-barra">
                            <a href="#portafolio">Populares</a>
                        </li>
                        <li class="boton-barra">
                            <a href="#contacto">Contacto</a>
                        </li>
                        <li class="boton-barra">
                            <a href="/user/all">Usuarios</a>
                        </li>
                        <li class="boton-barra">
                            <a href="/product/all">Productos</a>
                        </li>
                    </ul>
                    <div class="header-up-container">
                        <ul class="user-nav">
                            <li class="user-boton">
                                <a href="/user/register">Registrarme</a>
                            </li>
                            <li class="user-boton">
                                <a href="/user/login">Iniciar Sesiòn</a>
                            </li>
                        </ul>
                        <div class="container head">
                            <h1 class="titulo">Musiquería</h1>
                            <img src="/img/logo002.png" alt="" width="45px">
                        </div>
                    </div>
                </header>
            </div>
            <%}%>
                <main>
                    <section class="contenedor servicio" id="servicio">
                        <h2 class="subtitulo">3 mas vendidos</h2>
                        <div class="contendor-servicio">
                            <p class="descripcion-producto-seleccionado">Aca iria la descripcion del producto
                                seleccionado Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Ab, unde!</p>
                            <div class="checklist-servicio">
                                <div class="service">
                                    <img src="/img/lin.jpeg" alt="">
                                    <p class="product-name">Nombre del producto</p>
                                </div>
                                <div class="service">
                                    <img src="/img/lin.jpeg" alt="">
                                    <p class="product-name">Nombre del producto</p>
                                </div>
                                <div class="service">
                                    <img src="/img/lin.jpeg" alt="">
                                    <p class="product-name">Nombre del producto</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="gallery" id="portafolio">
                        <h2 class="subtitulo">Nuestros productos</h2>
                        <div class="contenedor galeria">
                            <div>
                                <h2>Luna</h2>
                                <img src="/img/luna.jpg" alt="" class="img-galeria">
                                <button>agregar</button>
                            </div>
                            <div>
                                <h2>Luna</h2>
                                <img src="/img/luna.jpg" alt="" class="img-galeria">
                                <button>agregar</button>
                            </div>
                            <div>
                                <h2>Luna</h2>
                                <img src="/img/luna.jpg" alt="" class="img-galeria">
                                <button>agregar</button>
                            </div>
                            <div>
                                <h2>Luna</h2>
                                <img src="/img/luna.jpg" alt="" class="img-galeria">
                                <button>agregar</button>
                            </div>
                        </div>
                    </section>
                    <section class="imagen-light"><!--Este puede que este de más-->
                        <img src="img/close.svg" alt="" class="close">
                        <img src="img/woman.jpg" alt="" class="agregar-imagen">
                    </section>
                    <section class="contenedor" id="expertos">
                        <h2 class="subtitulo">Categorias:</h2>
                        <section class="experts">
                            <div class="cont-expert">
                                <img src="/img/bajo.jpg" alt="">
                                <h3 class="n-expert">Instrumentos</h3>
                            </div>
                            <div class="cont-expert">
                                <img src="/img/parlantes.webp" alt="">
                                <h3 class="n-expert">Sonido</h3>
                            </div>
                            <div class="cont-expert">
                                <img src="/img/auriculares.jpg" alt="">
                                <h3 class="n-expert">Accesorios</h3>
                            </div>
                        </section>

                    </section>
                </main>
                <footer id="contacto">
                    <div class="contenedor footer-content">
                        <div class="contact-us">
                            <h2 class="brand">Estudiante Full Stack</h2>
                            <p>En busca de sus sueños</p>
                        </div>
                        <div class="social-media">
                            <a href="./" class="social-media-icon">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="./" class="social-media-icon">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="./" class="social-media-icon">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>
                    <div class="line"></div>
                </footer>
                <!-- <script src="/js/shortFunctions/menu.js"></script> -->

</body>

</html>