<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musiqueria</title>
</head>

<body>
    <% if(user !=null){%>
        <div id="mainContainer">
            <h1 id="Musiqueria">Musiqueria</h1>
            <p>Hola <%= user.name %>
            </p>
            <nav id="navContainer" class="navbar">
                <a href="/user/register">Registrarme</a>
                <a href="/user/all">Usuarios</a>
                <a href="/product/all">Productos</a>
                <a href="/cart/cart">Carrito</a>
                <input type="submit" value="Cerrar session">
            </nav>
        </div>

        <%} else {%>
            <div id="mainContainer">
                <h1 id="Musiqueria">Musiqueria</h1>
                <nav id="navContainer" class="navbar">
                    <a href="/user/register">Registrarme</a>
                    <a href="/user/login">Iniciar Sesiòn</a>
                    <a href="/user/all">Usuarios</a>
                    <a href="/product/all">Productos</a>
                    <a href="/cart/cart">Carrito</a>
                </nav>
            </div>

            <%}%>
</body>

</html>