<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index2.css">
    <link rel="stylesheet" href="/css/carrousel.css">
    <title>Musiqueria</title>
</head>

<body class="body">

    <% if(user !=null){%>
        <div id="inicio" class="ayudante-de-header">
            <header class="header">
                <!-- <img src="/img/hamburguesa.svg" alt="" class="hamburger"> -->
                <ul id="navContainer" class="navbar">
                    <li class="boton-barra">
                        <a href="#inicio">Inicio</a>
                    </li>
                    <li class="boton-barra">
                        <a href="#portafolio">Populares</a>
                    </li>
                    <li class="boton-barra">
                        <a href="#servicio">Ofertas</a>
                    </li>
                    <li class="boton-barra">
                        <a href="#contacto">Contacto</a>
                    </li>
                    <li class="boton-barra">
                        <a href="/user/all">Usuarios</a>
                    </li>
                    <li class="boton-barra">
                        <a href="/product/all">Productos</a>
                    </li>
                </ul>
                <div class="header-up-container">
                    <ul class="login-nav">
                        <li class="user-boton">
                            <a href="#">
                                <%= user.name %>
                            </a>
                        </li>
                        <li class="boton-barra">
                            <a href="/cart/cart">Carrito<i class='bx bx-cart'></i></a>
                        </li>
                        <li class="boton-barra">
                            <form action="/" method="POST">
                                <input type="submit" value="Cerrar sesion" class="cerrar-sesion">
                            </form>
                        </li>
                        <li class="user-boton">
                            <a class="user-img-container" href="#"><img src="/img/<%= user.avatar %>" class="avatar-log"
                                    alt=""></a>
                        </li>
                    </ul>
                    <div class="container head">
                        <h1 class="titulo">Musiquería</h1>
                        <img src="/img/logo002.png" alt="" width="45px">
                        </p>
                    </div>
                </div>
            </header>
        </div>


        <%} else {%>
            <div class="ayudante-de-header" id="inicio">
                <header class="header">
                    <!-- <img src="/img/hamburguesa.svg" alt="" class="hamburger"> -->
                    <ul id="navContainer" class="navbar">
                        <li class="boton-barra">
                            <a href="#inicio">Inicio</a>
                        </li>
                        <li class="boton-barra">
                            <a href="#portafolio">Populares</a>
                        </li>
                        <li class="boton-barra">
                            <a href="#servicio">Ofertas</a>
                        </li>
                        <li class="boton-barra">
                            <a href="#contacto">Contacto</a>
                        </li>
                        <li class="boton-barra">
                            <a href="/user/all">Usuarios</a>
                        </li>
                        <li class="boton-barra">
                            <a href="/product/all">Productos</a>
                        </li>
                    </ul>
                    <div class="header-up-container">
                        <ul class="user-nav">
                            <li class="user-boton">
                                <a href="/user/register">Registrarme</a>
                            </li>
                            <li class="user-boton">
                                <a href="/user/login">Iniciar Sesiòn</a>
                            </li>
                        </ul>
                        <div class="container head">
                            <h1 class="titulo">Musiquería</h1>
                            <img src="/img/logo002.png" alt="" width="45px">
                        </div>
                    </div>
                </header>
            </div>
            <%}%>
                <main>
                    <%- include('./partials/carrousel.ejs') %>
                        <section class="gallery contenedor" id="portafolio">
                            <h2 class="subtitulo">Nuestros productos</h2>
                            <div class=" galeria">
                                <div class="contendedor-producto">
                                    <img src="/img/auriculares.jpg" alt="" class="img-galeria">
                                    <p class="name-brand">Auriculares Ovansu </p>
                                    <p class="description">7.1 sound Gaming Headphone</p>
                                    <p class="price">$15800</p>
                                    <div class="buttons">
                                        <a href="" class="cart-product-button"><i class='bx bx-cart'></i></a>
                                        <a href="" class="product-button">Ir al detalle</a>
                                    </div>
                                </div>
                                <div class="contendedor-producto">
                                    <img src="/img/auriculares.jpg" alt="" class="img-galeria">
                                    <p class="name-brand">Auriculares Ovansu </p>
                                    <p class="description">7.1 sound Gaming Headphone</p>
                                    <p class="price">$15800</p>
                                    <div class="buttons">
                                        <a href="" class="cart-product-button"><i class='bx bx-cart'></i></a>
                                        <a href="" class="product-button">Ir al detalle</a>
                                    </div>
                                </div>
                                <div class="contendedor-producto">
                                    <img src="/img/auriculares.jpg" alt="" class="img-galeria">
                                    <p class="name-brand">Auriculares Ovansu </p>
                                    <p class="description">7.1 sound Gaming Headphone</p>
                                    <p class="price">$15800</p>
                                    <div class="buttons">
                                        <a href="" class="cart-product-button"><i class='bx bx-cart'></i></a>
                                        <a href="" class="product-button">Ir al detalle</a>
                                    </div>
                                </div>
                                <div class="contendedor-producto">
                                    <img src="/img/auriculares.jpg" alt="" class="img-galeria">
                                    <p class="name-brand">Auriculares Ovansu </p>
                                    <p class="description">7.1 sound Gaming Headphone</p>
                                    <p class="price">$15800</p>
                                    <div class="buttons">
                                        <a href="" class="cart-product-button"><i class='bx bx-cart'></i></a>
                                        <a href="" class="product-button">Ir al detalle</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="contenedor gallery" id="servicio">
                            <h2 class="subtitulo">Ofertas</h2>
                            <div class=" galeria">
                                <div class="contendedor-producto">
                                    <img src="/img/bateria.png" alt="" class="img-galeria">

                                    <p class="name-brand">Bateria thama </p>
                                    <p class="description">7 Cuerpos parches de lihno</p>
                                    <p class="price offer "> $15800 <b class="OFF">15% OFF</b> </p>
                                    <div class="buttons">
                                        <a href="" class="cart-product-button"><i class='bx bx-cart'></i></a>
                                        <a href="" class="product-button">Ir al detalle</a>
                                    </div>
                                </div>
                                <div class="contendedor-producto">
                                    <img src="/img/bateria.png" alt="" class="img-galeria">

                                    <p class="name-brand">Bateria thama </p>
                                    <p class="description">7 Cuerpos parches de lihno</p>
                                    <p class="price offer "> $15800 <b class="OFF">15% OFF</b> </p>
                                    <div class="buttons">
                                        <a href="" class="cart-product-button"><i class='bx bx-cart'></i></a>
                                        <a href="" class="product-button">Ir al detalle</a>
                                    </div>
                                </div>
                                <div class="contendedor-producto">
                                    <img src="/img/bateria.png" alt="" class="img-galeria">

                                    <p class="name-brand">Bateria thama </p>
                                    <p class="description">7 Cuerpos parches de lihno</p>
                                    <p class="price offer "> $15800 <b class="OFF">15% OFF</b> </p>
                                    <div class="buttons">
                                        <a href="" class="cart-product-button"><i class='bx bx-cart'></i></a>
                                        <a href="" class="product-button">Ir al detalle</a>
                                    </div>
                                </div>
                                <div class="contendedor-producto">
                                    <img src="/img/bateria.png" alt="" class="img-galeria">

                                    <p class="name-brand">Bateria thama </p>
                                    <p class="description">7 Cuerpos parches de lihno</p>
                                    <p class="price offer "> $15800 <b class="OFF">15% OFF</b> </p>
                                    <div class="buttons">
                                        <a href="" class="cart-product-button"><i class='bx bx-cart'></i></a>
                                        <a href="" class="product-button">Ir al detalle</a>
                                    </div>
                                </div>


                            </div>
                        </section>
                        <section class="imagen-light">
                            <!--Este puede que este de más va a ser por si quiero expandir la imagen seleccionada-->
                            <!-- <img src="img/close.svg" alt="" class="close">
                            <img src="img/woman.jpg" alt="" class="agregar-imagen"> -->
                        </section>
                </main>
                <footer id="contacto">
                    <div class="contenedor footer-content">
                        <div class="contact-us">
                            <h2 class="brand">@Fanku87</h2>
                            <p>Estudiante Full Stack</p>
                        </div>
                        <div class="social-media">
                            <a href="./" class="social-media-icon">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://github.com/facunoya" target="_blank" class="social-media-icon">
                                <i class='bx bxl-github'></i>
                            </a>
                            <a href="https://www.instagram.com/fanku1987/" target="_blank" class="social-media-icon">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>

                    <div class="line"></div>
                </footer>
                <!-- <script src="/js/shortFunctions/menu.js"></script> -->
                <script src="/js/shortFunctions/carrousel.js"></script>
</body>

</html>