* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --principal: linear-gradient(to top, rgba(120, 108, 73, 0.112) 0%, rgba(141, 78, 6, 0.194) 100%);
    --gray: #666;
    --secundario: #fff;
    --tercero: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
    --footer: rgb(46, 11, 46);
    --body: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%)
}

.body {
    /* background-color: #efefef; */
    background-image: var(--body);

    font-family: 'Open Sans', sans-serif;

}

.container {
    display: flex;
}

.servicio h2 {
    text-align: center;
    margin: 2em;
}

.contenedor {
    width: 90%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 1rem;
    margin: auto;
    padding: 60px 0;
}

.servicio {
    padding: 0;
    margin: 0;
}

.ayudante-de-header {
    height: 27vh;
}


header {
    height: 27vh;
    width: 100vw;
    background-image: url(../img/musica001.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: end;
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-bottom: 0;
    height: 27vh;

}

.login-nav {
    display: flex;
    margin-right: 0;
    align-items: center;

}

.login-nav li {
    margin-right: 10px;
    height: max-content;
}



.boton-barra {
    list-style: none;
    color: var(--secundario);
}

.boton-barra:hover {
    opacity: 0.7;
}

.navbar li {
    margin-left: 10px;
}

.cerrar-sesion {
    color: var(--secundario);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--principal);
    border: none;
    box-shadow: none;
    font-size: 16px;


}

.user-boton {
    width: max-content;
    height: max-content;
    color: var(--secundario);

}

li a {
    text-decoration: none;
    color: var(--secundario);
}

.user-img-container {
    background-color: none;
}

.avatar-log {
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.header-up-container {
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    margin-top: 1rem;
}

.header-up-container li {
    list-style: none;
}

.user-nav {
    display: flex;
    margin-right: 2rem;
}

.user-nav li {
    margin-right: 5px;
}

.user-nav li:hover {
    opacity: 0.7;
}

.titulo {
    color: var(--secundario);
    font-weight: bolder;
}


/*---        HASTA ACA ES EL HEADER         ----*/


/*SERVICIO*/

.contendor-servicio {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.service img {
    width: 40%;
    margin: auto;

}

/*GALERIA / TAREJTAS*/

.gallery {
    width: 90%;
    margin: auto;
    /* background-color: aquamarine; */
    text-align: center;
}

.gallery .subtitulo {
    margin-bottom: 2rem;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contendedor-producto {
    width: 20%;
    margin: 1.5rem;
    /* border: solid 2px black; */
    border-radius: 4px;
    text-align: center;
    padding-bottom: 0.5rem;
    background-color: #fff;
    /* -webkit-box-shadow: 4px 4px 29px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 29px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 29px -8px rgba(0, 0, 0, 0.75); */
    /* height: 340px; */
}

.contendedor-producto:hover {
    transition: 0.5s;
    -webkit-box-shadow: 4px 4px 29px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 29px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 29px -8px rgba(0, 0, 0, 0.75);
}


.img-galeria {
    margin: auto;
    width: 100%;
    height: 200px;
    border-radius: 4px;
    opacity: 0.9;
}

.contendedor-producto p {
    margin: auto;
    text-align: start;
    padding-left: 0.5rem;
}

.name-brand {
    font-weight: bold;
}

.description {
    font-size: 14px;
    color: #666;

}

.price {
    display: flex;
    font-size: 19px;
    flex-direction: row-reverse;
    padding-right: 1rem;
    color: #200fd8;
    padding-top: 0.5rem;
}

/*botones*/
.buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

.cart-product-button {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 1rem;
    text-decoration: none;
    font-weight: bold;


}


.cart-product-button i {
    width: 1.7rem;
    height: 1.7rem;
    /* border: solid 2px black; */
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    font-weight: bold;
    color: black;

}

.cart-product-button i:hover {
    transition: 0.2s;
    background-color: white;
    /* border: solid 2px #0fd850; */
    color: #0fd850;
    opacity: 0.9;
}

.product-button {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 0.5rem;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0px;
    color: black;
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.OFF {
    left: 0.5rem;
    color: rgb(200, 46, 46);
    font-size: 18px;
    opacity: 0.7;
}




/*FOOTER*/


footer {
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    padding-bottom: 0.1px;
    opacity: 0.8;
}

.footer-content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*para que si un elemento, ya no entra, pase abajo*/
    padding-top: 50px;
    padding-bottom: 25px;
}

.contact-us {
    width: 40%;
    color: #fff;
}

.brand {
    font-weight: 300;
    font-size: 30px;
}

.brand+p {
    font-weight: 200;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    color: #ff9a44;
    /* border: 1px solid #fff; */
    border-radius: 50%;
    text-align: center;
    /* background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%); */
    background-color: white;
}

.social-media-icon:hover {
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    /* color: var(--footer); */
    color: white;
}

.social-media-icon i {
    font-size: 20px;
    line-height: 40px;
}

/* .line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 15px;
} */