* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --principal: linear-gradient(to top, rgba(120, 108, 73, 0.112) 0%, rgba(141, 78, 6, 0.194) 100%);
    --gray: #666;
    --secundario: #fff;
    --tercero: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
    --footer: rgb(46, 11, 46);
    --body: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    --violeta: rgb(185, 114, 185);
}

.body {
    background-image: var(--body);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.title {
    font-size: 40px;
    color: var(--violeta);
    margin: 2rem;
}

.form-container {
    width: 80%;
    margin: auto;
}

.editProdForm {
    border: solid 1px lightslategray;
    width: 100%;
    display: flex;
    background-image: var(--body);
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.noSee {
    display: none;
}

.left-form {
    width: 50%;
    text-align: left;
}


.inputclass {
    width: 80%;
    height: 1.5rem;
    margin: 5px auto 5px auto;
    font-size: 16px;
    border-radius: 4px;
    border: solid 1px lightslategray
}

label {

    font-size: 18px;
    font-weight: bold;

}

.rigth-form {
    width: 50%;
    text-align: left;
}

.btn-edit {
    padding: 4px;
    background-color: #2233c7;
    color: aliceblue;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.btn-edit:hover {
    cursor: pointer;
}

.delProdForm {
    position: relative;
}

.btn-delete {
    position: absolute;
    padding: 4px;
    background-color: #c7225c;
    font-size: 16px;
    color: aliceblue;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin-top: -2.75rem;
    left: 5rem;
    /* right: 0rem; */
}

@media (max-width: 930px) {
    .body {
        min-height: 100vh;
    }
}

@media (max-width: 425px) {
    .editProdForm {
        width: 100%;
        flex-direction: column;
        padding: 0.5rem;

    }

    .inputclass {
        width: 100%;

    }

    .left-form {
        width: 100%;

    }

    .rigth-form {
        width: 100%;

    }
}