<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Formulario de login</h1>
    <form action="/user/login" method="POST" id="loginForm" class="logForm">
        <label for="">Correo</label>
        <input type="email" name="email">
        <br><br>
        <label for="">Contraseña</label>
        <input type="password" name="password">
        <br><br>
        <label for="">Recordarme</label>
        <input type="checkbox" name="remember">
        <br><br>
        <input type="submit" value="Iniciar">
        <br><br>
        <a href="/">Volver</a>
    </form>
</body>

</html>