<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>

<body>
    <h2>Usuarios</h2>
    <% if(usuarios){ usuarios.forEach(usuario=> { %>
        <p>
            <%= usuario.name %>
        </p>
        <img src="/img/<%=usuario.avatar %>" class="avatar" width="75px" height="50px" alt="">
        <% if(profile !=null){ if( profile=="Administrador" ) {%>

            <button><a href="/user/modifyuser/<%=usuario.user_id %>">Editar</a></button>
            <%} %>
                <br><br>
                <%}}); } %>
                    <br><br>
                    <a href="/">Volver</a>
</body>

</html>