<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <h2>Productos</h2>
    <% if(productos){ productos.forEach(product=> { %>
        <p>
            <%= product.name %>
        </p>
        <p>
            <%= product.SubCategories.name %>
        </p>
        <button><a href="/product/modifyproduct/<%=product.product_id %>">Modificar</a></button>
        <br><br>
        <%}); } %>
            <br><br>
            <a href="/">Volver</a>
            <a href="/product/create">Agregar producto</a>
</body>

</html>